.rooms{
    width: 85vw;
    height: 100%;
    margin: 10px 5px 10px 10px;

}

.container-home{
    width: 100%;
    height: 100%;
    display: flex;
}

.friends{
    width: 15vw;
    height: 100%;
    margin: 10px;
 
}